# 给孙的数据集加上’ID‘、’time‘列

In [60]:
import pickle
import os
from tqdm import tqdm

big_gps_path = '../Datasets/dataset/GPS/beijing_gps_dir_speed_interval_sorted.pkl'
with open(big_gps_path, 'rb') as f:
    big_data = pickle.load(f)

gps_path = '../Datasets/dataset/GPS/patch/'
new_gps_path = '../Datasets/dataset_time/GPS/patch/'

In [61]:
gps_file_list = os.listdir(gps_path)

In [62]:
for file_name in tqdm(gps_file_list):
    with open(gps_path + file_name, 'rb') as f:
        data = pickle.load(f)
    data_new = big_data.iloc[data.index].copy()
    data_new[['lat', 'lon']] = data[['lat', 'lon']]
    with open(new_gps_path + file_name, 'wb') as f:
        pickle.dump(data_new, f)

print('Done!')

100%|██████████| 348/348 [00:04<00:00, 81.78it/s]

Done!

In [63]:
with open(new_gps_path + '0_8_gps.pkl', 'rb') as f:
    data = pickle.load(f)
data

             ID        time  lat  lon  dir  speed  timeinterval
53056        39  1228723854  116   27  216      0          13.0
53057        39  1228723863  121   29  222      0           5.0
53058        39  1228723913  131   31  333      0          53.0
222000      145  1228060924  948  819    0      0           NaN
222001      145  1228082771  926  886   45    360         194.0
...         ...         ...  ...  ...  ...    ...           ...
49425226  27757  1228442312  909  925   36     51          59.5
49511824  27797  1228393967  952  653  237      0           NaN
49636852  27876  1228375526   77  396  210    205          73.5
49636853  27876  1228375528   80  396  201    102          11.0
49636854  27876  1228375548   87  394    0      0          16.5

[363 rows x 7 columns]